.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__app-bar {
    align-items: center;
    background-color: $primary;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, 
.notes__textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

.notes__title-input {
    box-sizing: border-box;
    color: $dark-gray;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: .5rem;
    padding: .3rem;
}

.notes__textarea {
    // border: 1px solid #E5E5E5;
    box-sizing: border-box;
    color: $dark-gray;
    flex: 1 1 auto;
    font-size: 20px;
    padding: .3rem;
    resize: none;
}

.notes__image img {
    box-shadow: 5px 5px $dark-gray;
    height: 150px;
}