* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

$start: 0;
$ends: 5;
$increase: 4;
$unit: 'px'; // Feel free to change the unit.

@for $i from $start through $ends {

    $value: $i * $increase;

    .mt-#{ $i } {
        margin-top: #{ $value + $unit };
    }
    .mb-#{ $i } {
        margin-bottom: #{ $value + $unit };
    }
}

.pointer {
    cursor: pointer;
}